.acordeon_header{
    font-size: 1.5em;
    line-height: 2em;
    border: 1px solid #ccc;
    background: #e8e8e8;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
}
.acordeon_header:after{
    content: '-';
    float: right;
    margin-right: 10px;
}
.acordeon_content{
    margin: 10px 10px 20px;
    overflow: hidden;
}

.acordeon_bloq.closed .acordeon_header:after{
    content: '+';
}


.btn{
    background: #ccc;
    display: block;
    margin: 10px 0;
}

/* cerrar */
.acordeon.useCss .acordeon_content{
    height: auto;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.75s -0.4s ease-out, opacity 0.5s 0.5s;
}
/* abrir */
.acordeon.useCss .acordeon_content.open{
    max-height: 800px;
    opacity: 1;
    transition: max-height 1.25s ease-in, opacity 1s  0.5s ;
}
