<h1>
  {{miRotulo}}
</h1>
<p>{{descripcion}}</p>

<input #textoInput (keyup)="false" type="text">
<div>Has estado escribiendo {{textoInput.value}}</div>
<h2 (click)="clickHandler()">Muestra otro componente</h2>
<app-resultado *ngIf="muestraComponente"></app-resultado>

<ul>
 <app-mi-li *ngFor="let item of datos2; let i = index"
             [texto]='item.nombre' ref={{10*item.id}}></app-mi-li>
  <li *ngFor="let item of datos1">{{item}}</li>
</ul>

