#data_container ul{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#data_container li{
    list-style: none;
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}
#data_container li img{
    width: 100%;
}
li[data-many="1"]{
    background: #ff0000;
}

.hidden{
    display: none;
}