<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-rotulo descripcion="Esta es la app del curso"></app-rotulo>
  <app-rotulo [descripcion]="'Esta es la app del curso'"></app-rotulo>
</div>

