.content{
    padding: 10px 20px;
    box-sizing: border-box;
    width: 25%;
    float: right;
}
.form{
    padding: 10px 20px;
    box-sizing: border-box;
    width: 75%;
    float: left;
}

.navbar-expand-lg{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: height 0.8s;
}
.navbar-expand-lg.contraido{
    height: 56px;
    z-index: 100;
    transition: height 0.8s;
}